@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("SaveVote", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <h1>Bem vindo ao escolha restaurante</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Quem vai votar?</h2>
            @Html.DropDownList("Peoples", (SelectList)ViewBag.Peoples, new { @class = "form-control" })
            <p>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Qual o restaurante?</h2>
            @Html.DropDownList("Restaurants", (SelectList)ViewBag.Restaurants, new { @class = "form-control" })
            <p>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Confirmar</h2>
            <input type="submit" value="Votar" class="btn btn-default" />
            <p>
            </p>
            <Label>@ViewBag.ReturnMessage</Label>
        </div>
    </div>

}
